<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        function calculate(a,b,c) {
            let result=a+b;
            c(result);
        }
        function callbackCalculate(result) {
            console.log(`ket qua cua phep toan la: `,result);
            document.write(`ket qua cua phep toan: ${result}`)
        }
        let numberA=+prompt(`moi ban nhap so thu nhat`)
         let numberB = +prompt(`moi ban nhap so thu hai`);
         calculate(numberA,numberB,callbackCalculate)
    </script>
</body>
</html>