.card-container {
    width: 300px;
    height: 370px;
    border: 1px solid rgb(227, 227, 227);
    margin: 15px 15px 15px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-container p {
    color: black;
}

.card-container b {
    color: black;
}

.card-container img {
    width: 85%;
    height: 65%;
}

.card-container button {
    text-align: center;
    color: white;
    background-color: dodgerblue;
    border: none;
    padding: 5px;
    border-radius: 6px;
}