.nav {
    display: flex;
    gap: 28px;
    justify-content: center;
    margin: 28px 0 8px;
}

.nav-link {
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    color: #111827;
    /* text gray-900 */
    font-weight: 500;
}

.nav-link.active {
    background: #ef4444;
    /* red-500 */
    color: #fff;
}